@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradient text styling */
.textGradient {
  background: -webkit-linear-gradient(#ff007f, #ff77a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Pink shadow effect */
.pinkShadow {
  box-shadow: 3px 3px 1px 1px #ff77a0;
}

/* Pink shadow hover effect */
.pinkShadow:hover {
  transform: translate(3px 3px);
  box-shadow: 0px 0px 1px 1px #ff77a0;
}
